/**************************
      Label Control
**************************/
.mdLabel {
    margin: 0.2rem 0 !important;
    font-size: 1rem !important;

    &.mdPadded {
        margin: 0.5rem 0;
        padding: 0.2rem 0;
        line-height: 1.5rem;
    }

    &.mdItalic {
        font-style: italic;
    }
}

.mdCapsLock {
    display: block !important; 
    position: absolute !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
