/**************************
      Password Control
**************************/
.mdPasswordInput {
    .ui.input > input {
        padding-right: 3.8rem !important;
    }

    .mdLinkContainer {
        display: flex;
        flex-direction: row;

        @include generate-alignment("&.md", "justify-content", true, false);
    }

    .mdHiddenContainer {
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        line-height: 1;
        text-align: center;
        top: 0;
        right: 0;
        margin: 0;
        height: 100%;
        width: 4rem;

        &::before {
            left: 0;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 100%;
            margin-top: -0.5em;
            font-size: 0.9rem;
            color: $greyDark;
            text-decoration: underline;
        }

        &.hide {
            &::before {
                content: "Hide";
            }
        }

        &.show {
            &::before {
                content: "Show";
            }
        }
    }
}
