/**************************
       Title Control
**************************/
.mdTitle {
    &.mdResetSpace {
        margin: 0 !important;
        padding: 0 !important;
    }

    .mdLabel {
        margin-left: 0 !important;
    }
}
